# to specify which folders & files should not be copied from the local machine 
# because they are not needed, because we overwrite them with the ones from the npm install
node_modules
Dockerfile
.git
node_modules
Dockerfile
.git
.gitignore
.idea
.vscode
.vscodeignore
README.md
.eslintrc.cjs
.eslintignore
.env
